*{
    padding: 0px;
    margin: 0px;
    font-family: "Lato";
}
body{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messanger{
    box-shadow: 0px 0px 2px #3B5998;
    box-sizing: border-box;
    width: 60%;
    min-width: 316px;
    height: 90%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

#dataDiv{
    overflow-y: scroll;
    width: 100%;
    flex: 1;
}

#messageDiv{
    z-index: 20;
    position: relative;
    max-height: 42px;
    height: 10%;
}

#messageInput{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


#logowanie{
    z-index: 999;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginPanel{
    width: 30%;
    height: 60%;
    min-width: 316px;
    min-height: 350px;
    background-color: white;
    box-shadow: 0px 0px 2px #3B5998;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

#profilePicture{
    width: 30%;
    padding-top: 30%;
    margin: 10px auto;
    background-color: #3B5998;
    border-radius: 50%;
    background-image: url("../gfx/profil.jpg");
    background-size: cover;
    background-position: center;
}

#nick{
    width: 50%;
    margin: 0px auto;
    height: 7%;
    border: 1px solid #3B5998;
    border-radius: 5px;
}

#submitLogin{
    width: 30%;
    margin: 10px auto;
    height: 7%;
    border: 1px solid #3B5998;
}

#emojiOpen{
    position: absolute;
    height: 100%;
    width: 48px;
    right: 0px;
    top: 0px;
    background-image: url("../gfx/emoji.png");
    background-position: center;
    background-repeat: no-repeat;
}

.relatywny{
    width: 100%;
    height: 100%;
    position: relative;
}

#emojiGrid{
    z-index: 20;
    background-color: rgba(0 , 0 , 0 , 0.6);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    bottom: calc( 100% + 7px );
    right: 50%;
    height: 200%;
    width: 200%;
    border-radius: 10px;
}

.emoji{
    display: inline-block;
    flex-basis: calc(100% / 3);
    box-sizing: border-box;
}

.bubbleContainer{
    text-align: center;
    width: 100%;
    clear: both;
}

.message{
    text-align: left;
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 5px;
    color: white;
    max-width: 50%;
    margin: 5px;
    padding: 5px;
}

.self{
    margin-left: 40px;
    float: left;
}

.incoming{
    margin-right: 40px;
    float: right;
}

.pictureElement{
    z-index: 10;
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("../gfx/profil.jpg");
    background-position: center;
    background-size: cover;
}

.leftPictureElement{
    left: -35px;
}

.rightPictureElement{
    right: -35px;
}

.infoElement{
    position: absolute;
    display: inline-block;
    color: white;
    border-radius: 4px;
    background-color: black;
    padding: 2px;
    margin: 1px;
}

.bottomInfo{
    z-index: 20;
    top: 100%;
}
.bottomInfo::before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black; 
    top: -4px;   
}

.leftInfo{
    left: 100%;
}

.rightInfo{
    right: 100%;
}

.leftInfo:before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid black; 
    left: -4px;
}

.rightInfo:before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black; 
    left: 100%;
}

@media screen and (max-width:330px){
    #messanger{
        width: 100%;
    }
}

@media screen and (max-height:350px){
    #messanger{
        height: 100%;
    }
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #dfe3ee
}
::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #3B5998;
}


/* 1125 width 600 height */

@media screen and (max-width:970px){
    #loginPanel{
        width: 60%;
    }
}

@media screen and (max-height:387px){
    #loginPanel{
        height: 90%;
    }
}